// $primaryColor: #5E6980;
// $backgroundColor: #FAFBFA;
// $textColor: #241D27;
// $lightColor: #84909B;
// $highlightColor: #ffbb00;



// NIGHT

$primaryColor: #222327;
$backgroundColor: #16171b;
$textColor: #f2f4f5;
$lightColor: #686c74;
$highlightColor: #bb432c;

// DAY

$primaryColor: #c0c2c4;
$backgroundColor: #e8e9eb;
$textColor: #2e2f30;
$lightColor: #686c74;
$highlightColor: #b36151;

