// $primaryColor: #5E6980;
// $backgroundColor: #FAFBFA;
// $textColor: #241D27;
// $lightColor: #84909B;
// $highlightColor: #ffbb00;

$primaryColor: #1c768f;
$backgroundColor: #fbf3f2;
$textColor: #032539;
$lightColor: #84909B;
$highlightColor: #fa991c;

// $primaryColor: #8479A2;
// $backgroundColor: #FAFBFA;
// $textColor: #222652;
// $lightColor: #DBBFB6;
// $highlightColor: #AD89BE;